spring:
  datasource:
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${LOCAL_HOST}:${DB_PORT}/${DB_DATABASE_NAME}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true

# HS256 ????? ??? ??? ??? 256bit, ? 32byte ??? secret key? ???? ??.
# Base64 ? ???? ? ??
jwt:
  secret:
    key: aGVsbG9ldmVyeW9uZW15bmFtZWlzamlndW5pY2V0b21lZXR5b3VpYW1maW5ldGhhbmt5b3VhbmR5b3U=


server:
  servlet:
    encoding:
      charset: UTF-8
      force: true

data:
  redis:
    host: ${REDIS_HOST}
    port: 6379


cloud:
  aws:
    s3:
      bucket: booktalk-s3-1
    stack:
      auto: false
    region:
      static: ap-northeast-2
    credentials:
      access-key: AKIA4LJM27FWEZNL6D5S
      secret-key: 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

