<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  <script src="/js/basic.js"></script>
  <style>

    .form-label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .form-control {
      width: calc(100%);
      padding: 10px;
      font-size: 14px;
    }

    .main-container {
      display: flex;
      flex-direction: column;
    }

    #info-top {
      max-width: 100%;
    }

    #imagePreview {
      max-width: 70%;
      height: auto;
      margin: auto;
    }

    .card-img-top {
      width: auto;
      height: 300px;
      display: block;

    }

    #search-results {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .result-item {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: center;
      transition: transform 0.3s ease-in-out;
    }

    #search-results .result-item {
      display: none; /* 처음에는 검색 결과 숨김 */
    }

    .result-item:hover {
      transform: scale(1.05);
    }

    .result-price {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .result-link {
      text-decoration: none;
      color: #333;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    #toggleSimilarProducts {
      font-size: 16px;
      cursor: pointer;
      text-decoration: underline;
      color: black; /* 클릭 가능한 링크의 색상으로 변경할 수 있습니다. */
    }

    #toggleSimilarProducts:hover {
      color: rgba(0, 0, 0, 0.68); /* 마우스 호버 시 색상 변경 */
    }

    .nav-item button {
      margin-right: 10px;
    }
  </style>
</head>
<body>


<div class="container">
  <header
      class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/booktalk" class="d-inline-flex link-body-emphasis text-decoration-none">
        <svg class="bi" width="60" height="32" role="img" aria-label="Bootstrap">
          <div class="image-container">
            <img
                src="https://booktalk-s3-1.s3.ap-northeast-2.amazonaws.com/7218e908-b9b5-4f58-b5ac-84cbaef6f9e8.png"
                width="180" height="65" alt="Book Image"/>
          </div>
        </svg>
      </a>
    </div>

    <div class="col-md-6 text-center">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-primary position-relative"
                  onclick="myPage()">
            마이페이지
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-primary position-relative"
                  onclick="products()">
            상품
          </button>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-primary position-relative"
                  id="header-review-list"
                  onclick="reviews()">
            리뷰
          </button>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-primary position-relative"
                  id="header-chat-list"
                  onclick="chatRooms()">
            채팅방
          </button>
        </li>
        <li class="nav-item"><a href="/booktalk/admin/categories" class="nav-link"
                                id="admin-page">관리자페이지</a></li>
      </ul>
    </div>

    <div class="text-md-end">
      <div class="d-flex align-items-center">
        <a href="/booktalk/users/login" type="button" class="btn btn-outline-primary"
           id="login-button">
          Login
        </a>
        <a href="/booktalk" type="button" class="btn btn-outline-primary"
           id="logout-button">
          Logout
        </a>
      </div>
    </div>
  </header>
</div>

<div class="container" id="product-container">
  <!-- Include your nav.jsp content here -->
  <main class="mt-2">
    <div class="container-fluid px-2">
      <div class="mb-4 main-container">
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <div id="image-container" class="d-flex flex-wrap mx-1">

            </div>
          </div>
          <div class="d-flex justify-content-between my-2" id="info-top">
            <div class="mb-2">
              <label for="product-sale" class="form-label">판매완료여부</label>
              <input type="checkbox" class="form-check-input" id="product-sale" name="sale-checkbox"
                     disabled>
            </div>
            <div class="mb-2">
              <button class="btn btn-outline-primary"
                      id="productLikes"></button>
            </div>
            <div class="mb-2">
              <h5 id="product-seller"></h5>
              <button class="btn btn-outline-primary mb-2" id="chat-user"></button>
              <button class="btn btn-outline-primary mb-2" id="product-author"></button>

            </div>
          </div>

          <div class="mb-3" id="upload-container">
          </div>

          <div class="mb-3"><label for="product-name" class="form-label">상품명</label>
            <input type="text" class="form-control" id="product-name" name="bno" disabled="">
          </div>
          <div class="mb-3"><label for="product-content" class="form-label">상품내용</label>
            <textarea
                class="form-control" id="product-content" name="content" disabled="">
            </textarea>
          </div>

          <div class="mb-3"><label for="product-price" class="form-label">상품가격</label>
            <input type="text" class="form-control" id="product-price" name="regDate" disabled="">
          </div>
          <div class="mb-3">
            <label id="toggleSimilarProducts" class="form-label pointer">
              비슷한 상품들 가격과 바로가기
            </label>
            <div id="search-results"></div>
          </div>
          <div class="mb-3"><label for="product-quantity" class="form-label">상품수</label>
            <input type="text" class="form-control" id="product-quantity" name="regDate2"
                   disabled="">
          </div>

          <div class="mb-3"><label for="product-region" class="form-label"
                                   id="product-region-label">상품판매지역</label>
            <input type="text" class="form-control" id="product-region" name="regDate3" disabled="">
          </div>
          <div class="mb-3"><label for="product-category" class="form-label"
                                   id="product-category-label">상품 카테고리</label>
            <input type="text" class="form-control" id="product-category" name="category"
                   disabled="">
          </div>

          <div class="d-flex" id="button-group">
            <a id="registerReview" href="#" class="btn btn-outline-primary mx-1">리뷰작성하기</a>
            <div style="margin-left: auto;">
              <!--              class="ml-auto" 적용이 왜 안될까-->
              <a id="productListButoon" href="/booktalk/products/list"
                 class="btn btn-outline-primary mx-1">상품목록</a>
              <a id="productEditButton" href="#" class="btn btn-outline-primary mx-1"
                 onclick="">수정하기</a>
              <a id="productDeleteButton" href="#" class="btn btn-outline-danger mx-1"
                 onclick="deleteProduct()">삭제하기</a>
            </div>

          </div>
        </div>


      </div>
    </div>

  </main>
</div>


<script th:inline="javascript">

  const host = 'http://' + window.location.host;
  const productId = /*[[${productId}]]*/;
  const role = getUserRole();
  let nickname;
  let productUserNickname;
      $(document).ready(function () {
        $.ajax({
          type: 'GET',
          url: `/api/v2/products/` + productId,
        })
        .done(function (res) {
          isFinished = res.finished;
          //$('#product-container').empty(); //
          renderProductInfo(res);
          //renderProduct(res);
          if(nickname !== productUserNickname && role === 'USER'){
            $('#productEditButton').hide();
            $('#productDeleteButton').hide();
          }
        })

        .fail(function (res) {
          const jsonObject = JSON.parse(res.responseText);
          const messages = jsonObject.messages;
          alert(messages);

        });

        $('#productEditButton').click(function (event) {
          event.preventDefault(); // Prevents the default behavior of the link

          const auth = getToken();
          if (auth === undefined || auth === '') {
            alert('로그인 후 이용 가능합니다.');
          } else {
            // If authentication is valid, navigate to the link
            updateProduct();
          }
        });
        
        $('#registerReview').click(function (event) {
          event.preventDefault();

          const auth = getToken();
          if (auth === undefined || auth === '') {
            alert('로그인 후 이용 가능합니다.');
          } else {
            registerTradeForm(isFinished);
          }
        });

        $.ajax({
          type: 'GET',
          url: '/api/v2/users/nickname',
        })
        .done(function (fetchedNickname) {
          nickname = fetchedNickname;
        })
        .fail(function () {
        });

      });
  function registerTradeForm(finished) {
    const auth = getToken();
    if (auth === undefined || auth === '') {
      alert('로그인 후 이용 가능합니다.');
    } else {
      if (finished === true) {
        window.location.href = '/booktalk/reviews/post/' + productId;
      } else {
        alert('판매자가 판매를 완료하지 않았습니다.');
      }
    }
  }

  function renderProductInfo(product) {
    var productCheckbox = document.getElementById('product-sale');
    productCheckbox.checked = product.finished === true;

    var productLikes = document.getElementById('productLikes');
    productLikes.innerText = "관심 : " + product.productLikes;
    $(document).ready(function () {
      $('#productLikes').on('click', _.debounce(handleLikeButtonClick, 300));
    });

    function handleLikeButtonClick() {
      addProductLikes(product.id);
    }

    var productSeller = document.getElementById('product-seller');
    productSeller.innerText = "작성자: " + product.user.name;

    var productAuthor = document.getElementById('product-author');
    productAuthor.innerText = "프로필 보러가기"
    productAuthor.style.cursor = "pointer";
    productUserNickname=product.user.name;

    productAuthor.addEventListener('click', function () {
      getOtherProfile(product.user.id)
    });

    var chatTrybutton = document.getElementById('chat-user');
    chatTrybutton.innerText = "채팅걸기";
    chatTrybutton.addEventListener('click', function () {
      chatTry(product.user.id);
    });
    //이미지 값 세팅
    var imageContainer = document.getElementById('image-container');
    const imageUrls = product.imageListRes;

    if (imageUrls.length) {
      imageUrls.forEach((imageUrl) => {
        const img = document.createElement('img');
        img.src = imageUrl.imagePathUrl;
        img.className = 'card-img-top mx-2';
        img.alt = 'Product Image';
        imageContainer.appendChild(img);
      });
    } else {
      const img = document.createElement('img');
      img.className = 'card-img-top mx-2';
      img.alt = '사진이없습니다.';
      imageContainer.appendChild(img);
    }

    // input 요소의 값 세팅
    var nameInput = document.getElementById('product-name');
    nameInput.value = product.name;
    // textarea 요소의 값 세팅
    var contentTextarea = document.getElementById('product-content');
    contentTextarea.value = product.content;

    var prictInput = document.getElementById('product-price');
    prictInput.value = product.price;

    var quantityInput = document.getElementById('product-quantity');
    quantityInput.value = product.quantity;

    var quantityRegion = document.getElementById('product-region');
    quantityRegion.value = product.region;

    var quantityCategories = document.getElementById('product-category');
    quantityCategories.value = product.categories;

    $(document).ready(function () {
      $('#search-results .result-item').hide();

      // 버튼 클릭 시 "search-results" 섹션의 자식 요소들을 토글
      $('#toggleSimilarProducts').click(function () {
        $('#search-results .result-item').toggle();
      });
      searchAndDisplay($('#product-name').val());
    });

  }

  function addProductLikes(productId) {

    const data = {
      productId: productId
    };
    $.ajax({
      type: 'PUT',
      url: `/api/v2/productLikes`,
      contentType: "application/json",
      data: JSON.stringify(data),
    })
    .done(function (res) {
      location.reload();
    })

    .fail(function (res) {
      const jsonObject = JSON.parse(res.responseText);
      const messages = jsonObject.messages;
      alert(messages);

    });
  }

  function updateProduct() {
    // 기존에 선택된 카테고리와 지역을 저장하는 변수 추가
    var selectedCategory = $('#product-category').val();
    var selectedRegion = $('#product-region').val();

    // 부모 요소 생성
    var parentDiv = document.getElementById("upload-container");

// 레이블 요소 생성
    var label = document.createElement("label");
    label.htmlFor = "productImage";
    label.className = "form-label";
    label.textContent = "상품 이미지 업로드";

// 파일 입력 요소 생성
    var input = document.createElement("input");
    input.type = "file";
    input.className = "form-control";
    input.id = "productImage";
    input.accept = "image/*";
    input.multiple = true;
    input.required = true;
    input.addEventListener("change", previewImage);

// 부모 요소에 자식 요소 추가
    parentDiv.appendChild(label);
    parentDiv.appendChild(input);

// 문서에 추가

    var productSaleCheckbox = document.getElementById('product-sale');
    productSaleCheckbox.disabled = false;
    // 체크박스 클릭 이벤트 리스너 추가

    var productNameInput = document.getElementById('product-name');
    productNameInput.removeAttribute('disabled');

    var productPriceInput = document.getElementById('product-price');
    productPriceInput.removeAttribute('disabled');

    var productContentInput = document.getElementById('product-content');
    productContentInput.removeAttribute('disabled');

    var productQuantityInput = document.getElementById('product-quantity');
    productQuantityInput.removeAttribute('disabled');

    var productRegionlabel = document.getElementById('product-region-label');
    $("#product-region").remove();
    var regionItems = ['SEOUL', 'INCHEON', 'BUSAN', 'DAEGU', 'ULSAN', 'GWANGJU', 'DAEJEON',
      'CHEONGJU', 'JEJU'];

    // 동적 드롭다운 메뉴 생성
    var dropdown = document.createElement('div');
    dropdown.className = "dropdown";

    var dropdownButton = document.createElement('button');
    dropdownButton.className = 'btn btn-secondary dropdown-toggle';
    dropdownButton.type = 'button';
    dropdownButton.id = 'productRegion';
    dropdownButton.setAttribute('data-bs-toggle', 'dropdown');
    dropdownButton.setAttribute('aria-haspopup', 'true');
    dropdownButton.setAttribute('aria-expanded', 'false');
    dropdownButton.innerText = '선택하세요';
    var dropdownMenu = document.createElement('div');
    dropdownMenu.className = 'dropdown-menu';
    dropdownMenu.setAttribute('aria-labelledby', 'productRegion');

    regionItems.forEach(function (region) {
      var dropdownItem = document.createElement('a');
      dropdownItem.className = 'dropdown-item';
      dropdownItem.href = '#';
      dropdownItem.innerText = region;

      // 드롭다운 아이템 클릭 이벤트 처리
      dropdownItem.addEventListener('click', function () {
        dropdownButton.innerText = region;
      });

      dropdownMenu.appendChild(dropdownItem);
    });

    dropdown.appendChild(dropdownButton);
    dropdown.appendChild(dropdownMenu);
    productRegionlabel.appendChild(dropdown);

    var productCategorylabel = document.getElementById('product-category-label');
    $("#product-category").remove();

    var parentDiv = document.createElement("div");
    parentDiv.id = "category-list-label";

    $.ajax({
      type: 'GET',
      url: '/api/v2/categories',
    })
    .done(function (categories) {
      var checkboxContainer = document.createElement('div');
      checkboxContainer.className = 'mb-3';
      checkboxContainer.style.display = 'flex';
      checkboxContainer.style.flexDirection = 'row';

      categories.forEach(function (category) {
                // 기존에 선택된 카테고리인지 확인하여 체크 상태 설정
                var isChecked = selectedCategory.includes(category.name) ? 'checked' : '';
        checkboxContainer.appendChild(
             createCheckbox(category.name, 'categoryCheckbox' + category.id, category.name, isChecked)
        );
      });

      productCategorylabel.appendChild(checkboxContainer);
    })
    .fail(function (res) {
      alert('카테고리 목록을 가져오는 데 실패했습니다.');
    });
    // 기존에 선택된 지역 설정
    $('#productRegion').text(selectedRegion);

    $('#button-group').empty();
    var buttonGroup = document.getElementById('button-group');

    var button1 = document.createElement("button");
    button1.className = "btn btn-outline-primary mx-1";
    button1.textContent = "수정완료";

    button1.addEventListener('click', function () {
      CompleteEditProduct(productId);
    });

    var button2 = document.createElement("button");
    button2.className = "btn btn-outline-primary mx-1";
    button2.textContent = "목록으로돌아가기";
    //button2.addEventListener("click", handleButton1Click);

    buttonGroup.appendChild(button1);
    buttonGroup.appendChild(button2);

  }

  function createCheckbox(value, id, labelText, isChecked) {
    var checkboxDiv = document.createElement('div');
    checkboxDiv.classList.add('form-check');

    var checkboxInput = document.createElement('input');
    checkboxInput.classList.add('form-check-input');
    checkboxInput.setAttribute('type', 'checkbox');
    checkboxInput.setAttribute('value', value);
    checkboxInput.setAttribute('id', id);
    checkboxInput.setAttribute('name', 'category-checkbox');
    // 기존에 선택된 카테고리인 경우 체크 상태 설정
    checkboxInput.checked = isChecked;

    var label = document.createElement('label');
    label.classList.add('form-check-label');
    label.setAttribute('for', id);
    label.textContent = labelText;

    checkboxDiv.appendChild(checkboxInput);
    checkboxDiv.appendChild(label);

    return checkboxDiv;
  }

  function CompleteEditProduct(productId) {

    var selectedRegion = document.getElementById("productRegion").innerText;

    const query = 'input[name="category-checkbox"]:checked';
    const selectedEls = document.querySelectorAll(query);
    // 선택된 목록에서 value 찾기
    let result = [];
    selectedEls.forEach((el) => {
      result.push(el.value);
    });

    var input = document.getElementById('productImage');
    var formData = new FormData();
    for (var i = 0; i < input.files.length; i++) {
      formData.append('upload', input.files[i]);
    }

    const req = {
      name: $('#product-name').val(),
      price: $('#product-price').val(),
      quantity: $('#product-quantity').val(),
      content: $('#product-content').val(),
      region: selectedRegion,
      finished: !!document.getElementById('product-sale').checked,
      categoryList: result
    }

    const json = JSON.stringify(req);
    const blob = new Blob([json], {type: "application/json"});
    formData.append("req", blob);

    $.ajax({
      type: "PUT",
      url: `/api/v2/products/` + productId,
      data: formData,		// 필수
      processData: false,	// 필수
      contentType: false,	// 필수
    })
    .done(function (res) {
      alert('수정완료');
      location.reload();
    })
    .fail(function (res) {
      alert('수정실패');
      const jsonObject = JSON.parse(res.responseText);
      const messages = jsonObject.messages;
      alert(messages);

    });

  }

  function deleteProduct() {

    var userConfirmed = confirm('삭제하시겠습니까?');

    if (userConfirmed) {
      $.ajax({
        type: "DELETE",
        url: `/api/v2/products/` + productId,
      })
      .done(function (res) {
        alert('삭제완료');
        window.location.href = host + '/booktalk/products/list';
      })
      .fail(function (res) {
        alert('삭제실패');
        const jsonObject = JSON.parse(res.responseText);
        const messages = jsonObject.messages;
        alert(messages);
      });
    }

  }

  function getOtherProfile(userId) {
    $.ajax({
      url:'/booktalk/users/' + userId + '/profile',
      type: 'GET',
      success: function(data) {
        // 요청이 성공한 경우
        window.location.href ='/booktalk/users/' + userId + '/profile'; // 사용자를 다른 페이지로 리디렉션
      },
      error: function(res) {
        // 요청이 실패한 경우
        const jsonObject = JSON.parse(res.responseText);
        const messages = jsonObject.messages;
        alert(messages); // 에러 메시지를 경고창으로 표시
      }
    });
  }

  function chatTry(userId) {

    const data = {
      receiverId: userId
    }
    $.ajax({
      type: "POST",
      url: `/api/v2/chatRooms`,
      contentType: "application/json",
      data: JSON.stringify(data),
    })
    .done(function (res) {
      window.location.href = host + '/booktalk/chats/rooms/' + res.id + '/front';
    })
    .fail(function (res) {
      const jsonObject = JSON.parse(res.responseText);
      const messages = jsonObject.messages;
      alert(messages);
    });

  }

  function previewImage() {

    var imageContainer = document.getElementById('image-container');
    $('#image-container').empty();
    const img = document.createElement('img');
    img.className = 'card-img-top mx-2';
    img.id = 'imagePreview'
    img.alt = 'Product Image';
    imageContainer.appendChild(img);
    var input = document.getElementById('productImage');
    var preview = document.getElementById('imagePreview');
    var file = input.files[0];
    var reader = new FileReader();

    reader.onloadend = function () {
      preview.src = reader.result;
    }

    if (file) {
      reader.readAsDataURL(file);
    } else {
      preview.src = "";
    }
  }

  function displaySearchResults(results) {
    var searchResultsContainer = document.getElementById('search-results');
    searchResultsContainer.innerHTML = '';

    if (results.length === 0) {
      var noResultsParagraph = document.createElement('p');
      noResultsParagraph.textContent = '검색 결과가 없습니다.';
      searchResultsContainer.appendChild(noResultsParagraph);
    } else {
      results.forEach(function (result) {
        var resultDiv = document.createElement('div');
        resultDiv.className = 'result-item';

        // 상품 이름 추가
        var nameParagraph = document.createElement('p');
        nameParagraph.className = 'result-name';
        nameParagraph.textContent = '상품명: ' + result.name;
        resultDiv.appendChild(nameParagraph);

        // 상품 가격 추가
        var priceParagraph = document.createElement('p');
        priceParagraph.className = 'result-price';
        priceParagraph.textContent = '가격: ' + result.Price + ' 원';
        resultDiv.appendChild(priceParagraph);

        // 상품 이미지 추가
        if (result.imageUrl) {
          var imageElement = document.createElement('img');
          imageElement.className = 'result-image';
          imageElement.src = result.imageUrl;
          resultDiv.appendChild(imageElement);
        }

        // 클릭 이벤트 추가
        resultDiv.addEventListener('click', function () {
          // 해당 URL로 이동
          window.location.href = result.url;  // result.url은 해당 상품의 URL이라고 가정
        });

        searchResultsContainer.appendChild(resultDiv);
      });
    }
  }

  function searchAndDisplay(query) {
    searchProducts(query, displaySearchResults);
  }

  function searchProducts(query) {
    var searchUrl = '/api/v2/products/kakao?query=' + encodeURIComponent(query);

    $.ajax({
      type: 'GET',
      url: searchUrl,
    })
    .done(function (res) {
      displaySearchResults(res);
    })
    .fail(function (res) {
      const jsonObject = JSON.parse(res.responseText);
      const messages = jsonObject.messages;
      alert(messages);
    });
  }

</script>

</body>
</html>
