<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="/js/basic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>

</head>
<body>

<div class="container">
  <h1 class="text-center mb-4">Book톡방</h1>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <!-- 게시물 폼 -->
      <div class="card">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="postContent" class="form-label">게시물 내용</label>
              <textarea class="form-control" id="postContent" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">게시물 등록</button>
          </form>
        </div>
      </div>

      <!-- 게시물 목록 -->
      <div class="body-container" id="body-container">

      </div>
    </div>
  </div>
</div>

</body>
</html>