<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>


  <title>Login</title>
</head>
<body class="bg-light">

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-4">Login</h2>
          <div class="mb-3">
            <label for="email" class="form-label">Username</label>
            <input type="text" class="form-control" id="email"
                   placeholder="Enter your username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password"
                   placeholder="Enter your password">
          </div>
          <div class="text-center">
            <a href="https://woogin.shop/getKakaoLoginUrl">
              <button id="kakao-login-btn" class="btn btn-warning">Kakao Login</button>
            </a>
            <button type="submit" class="btn btn-primary" onclick="onLogin()">Login</button>
            <a href="signup" class="btn btn-link">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
  $(document).ready(function () {
    // 토큰 삭제
    Cookies.remove('AccessToken', {path: '/'});
    Cookies.remove('RefreshToken', {path: '/'});

    $('#email, #password').keypress(function (e) {
      if (e.which === 13) {
        e.preventDefault();
        onLogin();
      }
    });
  });

  let href = location.href;

  const host = 'http://' + window.location.host;

  function onLogin() {
    let email = $('#email').val();
    let password = $('#password').val();

    $.ajax({
      type: "POST",
      url: `/api/v2/users/login`,
      contentType: "application/json",
      data: JSON.stringify({email: email, password: password}),
    })
    .done(function (res, status, xhr) {
      alert("로그인 성공");
      window.location.href = host + '/booktalk';
    })
    .fail(function (res) {
      const jsonObject = JSON.parse(res.responseText);
      const messages = jsonObject.messages;
      alert(messages);
      window.location.href = host + '/booktalk/users/login';
    });
  }
</script>


</body>
</html>
