<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <link href="https://fonts.gstatic.com" rel="preconnect">

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet">

  <title>Review Bulletin Board</title>

  <style>
  </style>
</head>

<body>

<div class="container">
  <header
      class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a class="d-inline-flex link-body-emphasis text-decoration-none" href="/api/v1">
        <svg aria-label="Bootstrap" class="bi" height="32" role="img" width="40">
          <span class="fs-4">Book톡방</span>
        </svg>
      </a>
    </div>

    <div class="col-md-6 text-center">
      <ul class="nav justify-content-center">
        <li class="nav-item"><a class="nav-link" href="/api/v1/users/profile">마이페이지</a></li>
        <li class="nav-item"><a class="nav-link" href="/api/v1/products/list">상품</a></li>
        <li class="nav-item"><a class="nav-link" href="/api/v1/reviews/list">리뷰</a></li>
        <li class="nav-item"><a class="nav-link" href="#">회원신고</a></li>
      </ul>
    </div>

    <div class="text-md-end">
      <div class="d-flex align-items-center">
        <button class="btn btn-outline-primary" type="button">
          Login
        </button>
      </div>
    </div>
  </header>

  <main>
    <div class="container mt-2 mb-4 text-center ">
      <form class="d-inline-flex" onsubmit="handleSearchSubmit();">
        <input aria-label="Search" class="form-control me-2" id="searchInput" placeholder="Search"
               style="width: 500px;"
               type="search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>

    <div class="d-flex justify-content-center mt-2 mb-2" id="sorting-options">
      <div class="form-check mx-1">
        <input checked class="form-check-input" id="sortByCreatedAt" name="sortingOption"
               onchange="showProducts()"
               type="radio" value="createdAt">
        <label class="form-check-label" for="sortByCreatedAt">
          생성순
        </label>
      </div>
      <div class="form-check mx-1">
        <input class="form-check-input" id="sortByLPrice" name="sortingOption" onchange="showProducts()"
               type="radio"
               value="price">
        <label class="form-check-label" for="sortByLPrice">
          ID순
        </label>
      </div>
      <div class="form-check mx-1">
        <input class="form-check-input" id="sortByLikes" name="sortingOption" onchange="showProducts()"
               type="radio"
               value="productLikeCnt">
        <label class="form-check-label" for="sortByLPrice">
          좋아요순
        </label>
      </div>
    </div>

    <h2 class="mb-3" id="reviewBoardTitle">리뷰 게시판</h2>

    <div class="mb-3" id="reviewsContainer"></div>

    <div class="text-end">
      <a class="btn btn-primary" href="/api/v1/reviews/post" id="createPostBtn" role="button">
        Create a New Post
      </a>
    </div>

    <div class="collapse" id="createPostForm">
    </div>
  </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  const host = 'http://' + window.location.host;

  $(document).ready(function () {
    handleSearchSubmit();
  });

  function handleSearchSubmit() {
    // AJAX 요청 수행
    $.ajax({
      url: '/api/v1/reviews',
      method: 'GET',
      dataType: 'json',
      success: function (data) {
        console.log('서버에서 받은 데이터:', data);
        displayReviews(data);
      },
      error: function (error) {
        console.error('오류:', error);
      }
    });
  }

  function showProducts() {
  }

  function displayReviews(reviews) {
    var reviewsContainer = $('#reviewsContainer');
    reviewsContainer.empty();

    reviews.forEach(function (review) {
      var reviewHtml =
          '<div class="review mb-3 p-3 border d-flex justify-content-between align-items-center" ' +
          'data-review-id="' + review.reviewId + '" onclick="redirectToReviewDetail(this)">' +
          '<div class="w-50 d-flex flex-column justify-content-center mb-1">' +
          '<h4 class="mb-0 text-left">' + review.title + '</h4>' +
          '</div>' +
          '<div class="d-flex flex-column text-right ms-auto mb-1">' +
          '<small class="text-muted" style="text-align: right;">Author: ' + review.name + '</small>'
          +
          '<small class="text-muted" style="text-align: right;">ID: ' + review.reviewId + '</small>'
          +
          '<small class="text-muted" style="text-align: right;">Like: ' + review.reviewLike
          + '</small>' +
          '</div>' +
          '</div>';

      reviewsContainer.append(reviewHtml);
    });
  }

  function redirectToReviewDetail(element) {
    var reviewId = $(element).data('review-id');
    window.location.href = host + '/api/v1/reviews/detail/' + reviewId;
  }

</script>

</body>

</html>